* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    height: 100vh;
    width: 100vw;
    background-color: #E9E9E9;
    grid-template-rows: 0.1fr;
}

.container {
    display: grid;
    grid-template-columns: auto 4fr auto;
    grid-template-rows: 0.2fr;
}

.header {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    align-self: center;
    justify-self: center;
    margin-top: 1rem;
    font-size: 30px;
}

h1 {
    margin-bottom: 10px;
    margin-top: 20px;
}

#addBookButton {
    font-size: medium;
    font-weight: 600;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 0.5em;
    text-decoration: none;
    background: #A3A3A3;
}

.formContainer {
    grid-column: 2 / 3;
    min-height: 50%;
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1rem;
    font-size: 20px;
    font-weight: 500;
    align-items: center;
    justify-self: center;
    justify-content: center;
}

input[type=text] {
    text-decoration: none;
    width: 230px;
    height: 25px;
    border-radius: 7px;
    font-size: medium;
    font-weight: 500;
}

#submit {
    font-size: 18px;
    font-weight: 700;
    width: 150px;
    height: 30px;
    border-radius: 8px;
    margin-left: 15px;
    background: #A3A3A3;
}

#libraryCard {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 2rem;
    padding: 3rem;
}

.bookCard {
    display: grid;
    align-items: center;
    min-width: 200px;
    max-height: 200px;
    padding: 1rem;
    background: #A3A3A3;
    border-radius: 10px;
    -webkit-box-shadow: 17px 20px 19px -6px rgba(128, 128, 128, 1);
    -moz-box-shadow: 17px 20px 19px -6px rgba(128, 128, 128, 1);
    box-shadow: 17px 20px 19px -6px rgba(128, 128, 128, 1);
}

.cardButton {
    border-radius: 5px;
    width: 200px;
    height: 30px;
    font-size: 15px;
    font-weight: 800;
    text-decoration: none;
    margin-bottom: 5px;
}

.statusRead {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}